$theme-main-900: hsl(256, 88%, 8%);
$theme-main-800: hsl(256, 88%, 12%);
$theme-main: hsl(256, 88%, 50%);
$theme-main-300: hsl(256, 88%, 94%);
$theme-main-200: hsl(256, 88%, 97%);
$theme-main-100: hsl(256, 88%, 99%);

$theme-secondary: hsl(276, 90%, 50%);
$theme-secondary-400: hsl(276, 40%, 80%);
$theme-secondary-300: hsl(276, 40%, 88%);
$theme-secondary-200: hsl(276, 40%, 94%);
$theme-secondary-100: hsl(276, 40%, 99%);

$theme-gradient: linear-gradient(
	to right,
	hsl(261, 90%, 50%),
	hsl(276, 90%, 50%)
);

$gray-100: hsl(248, 8%, 4%);
$gray-200: hsl(248, 8%, 16%);
$gray-300: hsl(248, 8%, 24%);
$gray-400: hsl(248, 8%, 40%);
$gray-500: hsl(248, 8%, 72%);
$gray-600: hsl(248, 8%, 80%);
$gray-700: hsl(248, 8%, 88%);
$gray-800: hsl(248, 8%, 94%);
$gray-900: hsl(248, 8%, 99%);

//Spacing
$spacing-1: 0.2rem;
$spacing-2: 0.4rem;
$spacing-3: 0.6rem;
$spacing-4: 0.8rem;
$spacing-5: 1rem;
$spacing-6: 1.2rem;
$spacing-7: 1.4rem;
$spacing-8: 1.6rem;
$spacing-9: 1.8rem;
$spacing-10: 2rem;
$spacing-11: 2.4rem;
$spacing-12: 2.8rem;
$spacing-13: 3.2rem;
$spacing-14: 3.6rem;
$spacing-15: 4rem;
$spacing-16: 4.4rem;
$spacing-17: 4.8rem;
$spacing-18: 5.2rem;
$spacing-19: 5.6rem;
$spacing-20: 6rem;
$spacing-21: 6.4rem;
$spacing-22: 6.8rem;
$spacing-23: 7.2rem;
$spacing-24: 7.6rem;
