$theme-main: hsl(203, 68%, 50%);

$theme-gradient: linear-gradient(
	120deg,
	hsl(203, 100%, 60%) 24%,
	hsl(220, 72%, 50%)
);

$theme-gradient-reversed: linear-gradient(
	120deg,
	hsl(220, 68%, 50%) 24%,
	hsl(203, 100%, 60%)
);

$main-100: hsl(220, 56%, 18%);
$main-200: hsl(220, 64%, 24%);
$main-300: hsl(220, 64%, 30%);
$main-400: hsl(220, 72%, 48%);
$main-500: hsl(220, 72%, 72%);
$main-600: hsl(203, 98%, 80%);
$main-700: hsl(203, 98%, 88%);
$main-800: hsl(203, 100%, 94%);
$main-900: hsl(203, 100%, 99%);

$effect-100: hsl(220, 98%, 88%);
$effect-400: hsl(203, 40%, 94%);

$gray-100: hsl(220, 24%, 12%);
$gray-200: hsl(220, 24%, 16%);
$gray-300: hsl(220, 24%, 24%);
$gray-400: hsl(220, 18%, 40%);
$gray-500: hsl(220, 18%, 56%);
$gray-600: hsl(220, 18%, 80%);
$gray-700: hsl(220, 28%, 88%);
$gray-800: hsl(220, 28%, 94%);
$gray-900: hsl(220, 28%, 98%);

//Spacing
$spacing-1: 0.2rem;
$spacing-2: 0.4rem;
$spacing-3: 0.6rem;
$spacing-4: 0.8rem;
$spacing-5: 1rem;
$spacing-6: 1.2rem;
$spacing-7: 1.4rem;
$spacing-8: 1.6rem;
$spacing-9: 1.8rem;
$spacing-10: 2rem;
$spacing-11: 2.4rem;
$spacing-12: 2.8rem;
$spacing-13: 3.2rem;
$spacing-14: 3.6rem;
$spacing-15: 4rem;
$spacing-16: 4.4rem;
$spacing-17: 4.8rem;
$spacing-18: 5.2rem;
$spacing-19: 5.6rem;
$spacing-20: 6rem;
$spacing-21: 6.4rem;
$spacing-22: 6.8rem;
$spacing-23: 7.2rem;
$spacing-24: 7.6rem;
