@import "../../scss/variables";
@import "../../scss/utilities";

.nav {
	width: 94%;
	margin: 0 auto;
	padding-top: $spacing-6;
	@include flex($justify: space-between);
	flex-flow: row wrap;

	@include tab-screen {
		width: 94%;
		@include flex($justify: start);
	}

	.navForm {
		flex-basis: 90%;
		order: 2;
		margin: 0 auto;
		margin-top: $spacing-12;

		@include tab-screen {
			order: 0;
			flex-basis: 32%;
			margin: 0;
			margin-left: $spacing-18;
		}

		@include laptop-large {
			order: 0;
			flex-basis: 10%;
			margin: 0;
			margin-left: $spacing-18;
		}
	}

	.navItems {
		@include flex($align: flex-start);

		@include tab-screen {
			margin-left: auto;
		}

		.navItem {
			list-style-type: none;
			margin: 0 $spacing-2;
		}

		button {
			margin-left: $spacing-4;
		}
	}
}
