@import "../../scss/variables";
@import "../../scss/utilities";

.accountDashboard {
	width: 100%;

	.feed {
		width: 90%;
		margin: 0 auto;
		margin-top: $spacing-18;

		.feedItems {
			width: 100%;
			columns: auto 12rem;
			column-gap: $spacing-12;
		}
	}
}
