@import "../../scss/variables";
@import "../../scss/utilities";

.accountDashboard {
	width: 100%;

	.feed {
		width: 90%;
		height: max-content;
		margin: 0 auto;
		margin-top: $spacing-24;

		.sectionTitle {
			font-weight: 700;
		}

		.feedItems {
			width: 100%;
			height: max-content;
			columns: auto 12rem;
			column-gap: $spacing-12;
		}
	}
}
