.search-control {
	@include flex;
	width: 100%;
	border-radius: $spacing-4;
	background-color: $theme-main-200;

	.search-input {
		width: 100%;
		border: none;
		padding: $spacing-2 $spacing-6;
		background: transparent;
		color: $theme-main-800;
		@include psm;

		&::placeholder {
			@include px;
			color: $gray-500;
		}

		&:focus {
			outline: none;
		}
	}
}

.text-control {
	@include flex;
	width: 100%;
	border-radius: $spacing-4;
	background-color: $theme-main-200;

	span {
		color: $gray-400;
		padding: $spacing-2;
		background-color: $gray-800;
		border-radius: $spacing-2;
	}

	.text-input {
		width: 100%;
		border: none;
		padding: $spacing-2 $spacing-6;
		background: transparent;
		color: $theme-main-800;
		@include psm;

		&::placeholder {
			@include pxm;
			color: $gray-500;
		}

		&:focus {
			outline: none;
		}
	}

	&:focus-within {
		span {
			margin-top: -1.14rem;
			filter: drop-shadow(4px 4px 8px $gray-700);
		}
	}
}

.file-input-control {
	width: 100%;

	input {
		@include d-none;
	}
}

.textarea-control {
	width: 100%;
	border-radius: $spacing-4;
	background-color: $theme-main-200;

	textarea {
		border: none;
		background: transparent;
		padding: $spacing-2 $spacing-5;
		resize: none;
		@include psm;
		@include scroll-hide;

		&:focus {
			outline: none;
		}
	}
}
