.search-control {
	@include flex;
	width: 100%;
	border-radius: $spacing-4;
	background-color: $gray-900;

	.search-input {
		width: 100%;
		border: none;
		padding: $spacing-2 $spacing-6;
		background: transparent;
		color: $gray-300;
		@include ps;

		&::placeholder {
			@include px;
			color: $gray-500;
		}

		&:focus {
			outline: none;
		}
	}
}

.text-control {
	@include flex;
	width: 100%;
	border-radius: $spacing-4;
	background-color: $gray-900;

	span {
		color: $gray-500;
		padding: $spacing-2;
		border-radius: $spacing-3;
		transition: all 0.25s ease;
	}

	.text-input {
		width: 100%;
		border: none;
		padding: $spacing-2 $spacing-6;
		background: transparent;
		color: $gray-300;
		@include ps;

		&::placeholder {
			@include pxm;
			color: $gray-500;
		}

		&:focus {
			outline: none;
		}
	}

	&:focus-within {
		span {
			margin-top: -0.88rem;
			color: $gray-300;
		}
	}
}

.file-input-control {
	width: 100%;

	input {
		@include d-none;
	}
}

.textarea-control {
	width: 100%;
	border-radius: $spacing-4;
	background-color: $gray-900;

	textarea {
		border: none;
		background: transparent;
		padding: $spacing-3 $spacing-6;
		resize: none;
		color: $gray-300;
		@include ps;
		@include scroll-hide;

		&::placeholder {
			@include ps;
		}

		&:focus {
			outline: none;
		}
	}
}
