.small-icon {
	@include small-icon;
}

.regular-icon {
	@include regular-icon;
}

.large-icon {
	@include large-icon;
}

.brand-icon {
	background: $theme-gradient;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
