@import "../../scss/variables";
@import "../../scss/utilities";

.home {
	width: 100vw;

	main {
		@include grid(center, center);
		width: 92%;
		margin: $spacing-12 auto;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-row-gap: $spacing-24;

		@include tab-screen {
			width: 100%;
			margin: $spacing-12 0 0 auto;
			grid-template-columns: repeat(2, 45%);
			column-gap: $spacing-18;
			grid-row-gap: 0;
		}

		.imageArea {
			@include flex;
			justify-content: center;

			.hdImage {
				width: 90%;
			}

			@include tab-screen {
				order: 1;

				.hdImage {
					width: 100%;
				}
			}
		}

		.infoArea {
			width: 100%;

			@include tab-screen {
				margin-left: $spacing-14;
			}

			.mainText {
				margin-bottom: $spacing-8;
			}

			.auxText {
				margin-bottom: $spacing-12;
				color: $gray-200;
			}
		}
	}
}
