@import "../../scss/variables";
@import "../../scss/utilities";

.homeContainer {
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	.home {
		@include flex($justify: center);
		width: 94%;
		height: calc(100vh - 16rem);
		margin: auto;
		text-align: center;

		.brandIcon {
			font-size: 4rem;
			width: max-content;
			margin: 0 auto $spacing-12;
		}

		.textContent {
			.auxText {
				text-transform: uppercase;
				margin-bottom: $spacing-8;
				color: $theme-main-600;
			}

			.mainText {
				font-family: Billabong;
				font-size: 4.8rem;
				margin-bottom: $spacing-4;
				color: $theme-main-900;
			}
		}

		.ctas {
			@include flex;
			margin: $spacing-18 auto 0;
			width: max-content;

			button:nth-child(1) {
				margin-right: $spacing-10;
			}
		}
	}
}
