@import "../../../scss/variables";
@import "../../../scss/utilities";

.userProfile {
	width: 100%;

	.summaryContainer {
		width: 90%;
		margin: $spacing-12 auto $spacing-24;

		@include tab-screen {
			width: 80%;
			margin: $spacing-14 0 0 auto;
		}

		.summaryContent {
			margin: 0 0 $spacing-11;

			.profileName {
				margin-bottom: $spacing-3;
				margin-left: $spacing-1;
				font-weight: 600;
				letter-spacing: 0.06rem;
				color: $theme-main-800;
			}

			.profileLink {
				color: $gray-400;
			}
		}

		.profileSummary {
			@include flex($align: flex-start);

			.profileImageContainer {
				display: flex(row, center, center);
				margin-bottom: $spacing-8;

				.profileImage {
					width: $spacing-15;
					height: $spacing-15;
					border-radius: 50%;

					@include tab-screen {
						width: $spacing-20;
						height: $spacing-20;
					}
				}
			}

			.profileDetails {
				margin-left: $spacing-8;

				@include tab-screen {
					margin-left: $spacing-14;
				}

				.profileStats {
					@include flex;
					width: max-content;
					margin-top: $spacing-2;

					.stat {
						text-align: center;

						&:nth-child(2) {
							margin: 0 $spacing-8;

							@include tab-screen {
								margin: 0 $spacing-10;
							}
						}

						h6:nth-child(1) {
							color: $theme-main-800;
							font-weight: 600;
							margin-bottom: $spacing-1;
						}

						p:nth-child(2) {
							color: $gray-400;
						}
					}
				}

				.followButton {
					margin: $spacing-12 0;
				}
			}
		}
	}
}
